@model Bookit.Models.Book

@{
    ViewData["Title"] = "Details";
    var noinsert = "وارد نشده";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <img src="@Url.Content("~/" + Model.ImagePath)" alt="@Model.Name" class="img-responsive" style="width:100px;height:100px" />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price) $
        </dd>
        <dt class="col-sm-2">
            Category
        </dt>
        <dd class="col-sm-10">
            @* @ViewData["categorylist"].GetType().Name *@
            @if (Model.CategoryId.Equals(0))
            {
                @Html.DisplayFor(modelItem => noinsert)
            }
            else
            {
                @foreach (var catitem in ViewData["categorylist"] as IList<Bookit.Models.Category>)
                {
                    if (catitem.Id.Equals(Model.CategoryId))
                    {
                        @Html.DisplayFor(modelItem => catitem.CategoryName)
                    }
                }
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
